/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$p-dark: #195321;
$p-light: #69995d;

$s-dark: #dbc394;
$s-light: #f7f2ea;

$t-dark: #351f05;
$t-light: #d6945f;

$off-black: #313131;
$off-white: #f5f5f5;

/* -------------------------------------------------------------------------- */
/*                                   PADDING                                  */
/* -------------------------------------------------------------------------- */

$m-padding: 1rem;

$d-padding: 1.5rem;

$transition: 0.25s;