@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.work {
  padding: $padding-m;

  @include tablet {
    padding: $padding-d;
  }

  &__title {
    text-align: center;
  }

  &__container {
    @include flex();
    flex-direction: column;
    gap: calc($padding-d * 6);

    @include desktop {
      @include desktop-container;
    }
  }
}

.project {
  @include flex($justify: space-between);
  flex-direction: column;
  gap: calc($padding-d * 2);
  position: relative;

  @include tablet {
    flex-direction: row;
  }

  &__text-container {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__details {
    @include flex($justify: space-between, $align: flex-start);
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }

  }

  &__img-container {
    @include flex();
    flex-direction: column;
    gap: calc($padding-d * 1.5);
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid $black;
  }

  &__listainable-bg {
    display: none;
    position: absolute;
    z-index: 1;
    top: -25%;
    left: -5%;
    width: 110%;
    height: 140%;
    transform: none;

    @include tablet {
      display: block;
    }

    &--mobile {
      position: absolute;
      top: -5%;
      left: -15%;
      width: 140%;
      height: 110%;

      @include tablet {
        display: none;
      }
    }
  }
}